.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: .5rem;
  padding: 5%;
}

.header {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.description {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 140%;
}

.headshot {
  width: min(100% - 1rem, 200px);
  height: min(100% - 1rem, 200px);
  border-radius: 100%;
}

.bio {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.icon {
  padding: 10px;
}

@media screen and (max-width: 690px){
  .about {
    grid-template-columns: repeat(1, 1fr);
    column-gap: .5rem;
    place-content: center;
  }
}