.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    gap: 1rem;
}

.about-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.header {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.description {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.bio {
    text-align: left;
    text-indent: 15px;
}

a {
    color: red;
}

a:hover {
    color: black;
}