#btn {
    background-color: rgb(30, 124, 224);
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    margin-right: 545px
}
#nameInput {
    border-color: white;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#commentInput {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px;
}
.comment-form {
    text-align: center;
    margin: auto;
}

#nameLabel {
    margin-right: 575px
}

#commentLabel{
    margin-right: 550px;
}