.comment-form{
    display: flex;
    flex-direction: column;
}

.comments{
    display: flex;
    place-self: center;
    place-items: left;
    width: min(100% - 2rem, 625px);
}

#btn {
    background-color: rgb(30, 124, 224);
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    margin-right: 545px
}

#btn:hover {
    cursor: pointer;
    color: black;
}

#nameInput,
#commentInput {
    width: min(100% - 2rem, 600px);
    margin-top: 5px;
    margin-bottom: 5px;
}

#nameLabel {
    margin-right: 575px;
}

#commentLabel {
    margin-right: 550px;
}

.comments h3{
   margin: 0px;
   text-align: left;
   padding: 2px;
}

.comments p{
    margin-top: 0px;
    padding: 5px;
}

#smaller-line {
    width: min(100% - 2rem, 625px);
}

@media screen and (max-width: 740px) {

    #nameLabel,
    #nameInput,
    #commentInput,
    #commentLabel,
    #btn {
        margin-left: 2%;
        margin-right: 98%;
    }

}